/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-cart-small {
	display: flex;
	position: relative;
	font-size: 13px;
	color: var(--clr-base);
	gap: 15px;
	&:hover {
		color: var(--clr-base);
	}
	.tile-photo-wrap {
		width: 68px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-top: 6px;
	}
	.tile-title {
		display: block;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 6px;
	}
	.tile-info {
		margin-bottom: 4px;
		display: block;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tile-photo {
		aspect-ratio: 1;
		border-radius: 8px;
	}
	
}
.item-tile-cart {
	display: flex;
	padding: 21px 2.7rem;
	border-radius: 20px;
	border: 1px solid #FFF2F2;
	background: linear-gradient(0deg, #FFF 0%, #FFF9FA 50%, #FFF 100%);
	position: relative;
	font-size: 16px;
	line-height: (20/16);
	text-align: left;
	font-weight: 400;
	&.tile-gift {
		
	}
	.tile-photo-wrap {
		width: 136px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-left: 2rem;
		padding-right: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.tile-side-wrap {
		flex-shrink: 0;
		display: flex;
		align-items: center;
	}
	.tile-counter-wrap {
		width: 116px;
		flex-shrink: 0;
	}
	.tile-total-wrap {
		width: 19.8rem;
		flex-shrink: 0;
		padding-left: 5.8rem;
		.tile-price {
			font-size: 2.3rem;
			font-weight: 500;
			&.price-old {
				font-size: 16px;
			}
		}
	}
	.tile-title-wrap {
		margin-bottom: 12px;
	}
	.tile-select-wrap {
		display: flex;
		gap: 6px;
		flex-wrap: wrap;
		margin-bottom: 14px;
	}
	.tile-price-info {
		.tile-price {
			display: inline;
			font-weight: 500;
		}
	}
	.tile-photo {
		aspect-ratio: 1;
		border-radius: 10px;;
		background: #FFF5F9;
	}
	.tile-title {
		font-size: 20px;
		margin-bottom: 12px;
		font-weight: 500;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			display: block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-subtitle {
		font-size: 21px;
		font-weight: 500;
		color: var(--clr-att);
		margin-bottom: 8px;
		display: none;
	}
	.tile-text {
		font-size: 16px;
		max-width: (360/16em);
	}
	.tile-text-title, .tile-text-value {
		display: inline;
	}
	.tile-text-value {
		color: var(--clr-light);
	}
	.frm-select-button {
		flex-shrink: 0;
	}
	.tile-button-del {
		width: 30px;height: 30px;
		position: absolute;
		z-index: 2;
		top: 11px;right: 11px;
		&:before {
			background-size: 20px auto;
		}
	}
	.frm-field-counter {
		background: #fff;
	}
}
.item-tile-feature-main {
	display: flex;
	position: relative;
	border-radius: 14px;
	border: 1px solid #FFF2F2;
	background: #fff;
	line-height: (18/14);
	color: var(--clr-light);
	padding: 19px;
	align-items: flex-start;
	min-height: 100%;
	.tile-photo-wrap {
		width: 65px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding: 0 0 0 16px;
	}
	.tile-title {
		display: flex;
		align-items: center;
		height: 65px;
		position: relative;
		overflow: hidden;
		font-size: 24px;
		font-weight: 400;
		line-height: normal;
	}
	.tile-info {
		padding: 16px 0 0 0;
		margin: 0 0 0 -81px;
		display: block;
	}
	.tile-photo {
		border-radius: var(--smallTileRadius);
	}
}
.item-tile-order-add {
	display: flex;
	align-items: flex-start;
	.tile-photo-wrap {
		width: 110px;
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-left: 14px;
		padding-top: 4px;
	}
	.tile-title {
		display: block;
		font-size: 14px;
		line-height: 1.1;
		font-weight: 500;
		color: var(--clr-base);
		margin: 0 0 6px 0;
		a {
			display: block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-price-wrap {
		display: flex;
		gap: 8px;
		align-items: flex-end;
		flex-wrap: wrap;
	}
	.tile-price {
		font-size: 16px;
		line-height: 1;
		font-weight: 500;
		color: var(--clr-att);
		&.price-old {
			font-size: 14px;
			font-weight: 400;
		}
	}
	.tile-photo {
		border-radius: 16px;
		aspect-ratio: 1;
	}
	.btn {
		margin-top: 10px;
		height: 35px;
		padding: 0 15px 0 7px;
		font-size: 13px;
		font-weight: 600;
		border-radius: var(--smallButtonRadius);
		.button-ico {
			margin-right: 4px;
		}
	}
}
.item-tile-feature {
	display: block;
	position: relative;
	color: var(--clr-light);
	line-height: normal;
	.tile-title {
		font-size: 1em;
		color: var(--clr-base);
		font-weight: 500;
		line-height: inherit;
		margin-bottom: 5px;
	}
	b {
		font-weight: 500;
	}
}
.item-tile-card-info {
	display: flex;
	padding: 20px;
	align-items: flex-start;
	border-radius: 16px;
	border: 1px solid #F8F8F8;
	background: #FAFAFA;
	font-size: 14px;
	line-height: normal;
	color: var(--clr-light);
	min-height: 100%;
	transition: all ease 0.2s;
	gap: 6px;
	&:hover {
		border: 1px solid #FFEBEF;
		background: #FFF5F5;
	}
	.tile-info-wrap {
		flex: 1;
	}
	.tile-photo-wrap {
		width: 50px;
		flex-shrink: 0;
	}
	.tile-title {
		display: block;
		font-size: 18px;
		line-height: 20px;
		font-weight: 500;
		margin-bottom: 6px;
		color: var(--clr-base);
	}
	.tile-info {
		padding-right: 8px;
	}
	.tile-ico {
		width: 50px;height: 50px;
	}
}
.elm-info-attention {
	border-radius: 16px;
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
	padding: 14px 14px 14px 69px;
	color: #fff;
	position: relative;
	overflow: hidden;
	min-height: 70px;
	background: url(../img/info-attention.jpg) center no-repeat;
	background-size: cover;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: fade(#FA486B, 82);
	}
	.info-title {
		position: relative;
		display: block;
		z-index: 2;
	}
	&:before {
		content: "";
		display: block;
		width: 42px;
		height: 42px;
		position: absolute;
		background: url(../img/icons/info-main.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 14px;
		margin-top: -21px;
		z-index: 2;
	}
	&:hover {
		color: #fff;
	}
}
.elm-card-panel {
	border-radius: 10px;
	border: 1px solid var(--clr-att);
	padding: 10px 16px;
	font-size: 16px;
	line-height: (20/16);
	color: var(--clr-base);
	min-height: 100%;
	.panel-title {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin: 0;
	}
	.panel-title-main {
		display: inline-block;
		vertical-align: middle;
		color: var(--clr-att);
		font-size: 24px;
		line-height: 1;
		font-weight: bold;
	}
	.elm-helper {
		display: inline-block;
		vertical-align: middle;
		margin-top: -1px;
	}
	.panel-info-button {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 17px;
		font-weight: 500;
		color: var(--clr-att);
		.elm-ico {
			width: 24px;height: 24px;
			flex-shrink: 0;
		}
	}
	.panel-info-title {
		display: flex;
		align-items: center;
		min-height: 24px;
	}
}
.type-blue {
	border-color: var(--clr-blue);
	.panel-info-button, .panel-title-main {
		color: var(--clr-blue);
	}
}
.type-violet {
	border-color: var(--clr-violet);
	.panel-info-button, .panel-title-main {
		color: var(--clr-violet);
	}
}
.type-green {
	border-color: var(--clr-att-second);
	.panel-info-button, .panel-title-main {
		color: var(--clr-att-second);
	}
}
.type-yellow {
	border-color: var(--clr-yellow);
	.panel-info-button, .panel-title-main {
		color: var(--clr-yellow);
	}
}
.type-att-active {
	border-color: var(--clr-att-active);
	.panel-info-button, .panel-title-main {
		color: var(--clr-att-active);
	}
}
.type-green-bg {
	background: #FBFFF5;
	backdrop-filter: blur(5px);
}
.item-tile-review {
	font-size: 16px;
	line-height: (22/16);
	text-align: center;
	color: var(--clr-dlight);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	&:hover {
		color: var(--clr-dlight);
	}
	.tile-photo-wrap {
		margin-bottom: 18px;
	}
	.tile-photo {
		border-radius: var(--mainTileRadius);
		aspect-ratio: 1;
		width: 240px;
		margin: 0 auto;
	}
	.tile-date {
		font-size: 14px;
		color: var(--clr-light);
		margin-bottom: 5px;
	}
	.tile-title {
		font-size: 23px;
		font-weight: 500;
		color: var(--clr-att-second);
		margin: 0 0 5px 0;
	}
	.tile-action {
		margin-top: 20px;
	}
}
.item-tile-catalog {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: var(--clr-base);
	position: relative;
	.tile-stickers-wrap {
		position: absolute;
		top: 0;left: 0;right: 0;
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 3px;
	}
	.tile-photo-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.tile-content-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 8px;
		align-items: flex-start;
	}
	.tile-title-wrap, .tile-price-wrap, .tile-actions-wrap {
		width: 100%;
		flex-shrink: 0;
	}
	.tile-title-wrap {
		padding-top: 14px;
		flex: 1;
		margin-bottom: 8px;
	}
	.tile-price-wrap {
		display: flex;
		align-items: flex-end;
		align-self: flex-end;
		gap: 8px;
	}
	.tile-actions-wrap {
		display: flex;
		gap: 6px;
		line-height: 0;
		flex-wrap: wrap;
		align-self: flex-end;
	}
	.tile-action-wrap {
		flex-shrink: 0;
		width: 100%;
	}
	.tile-photo {
		border-radius: var(--smallTileRadius);
		aspect-ratio: 1;
		z-index: 2;
	}
	.tile-sticker {
		z-index: 3;
	}
	.tile-title {
		font-size: 17px;
		line-height: 1.1;
		font-weight: 500;
		color: inherit;
		a {
			display: block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.tile-price {
		font-size: 18px;
		line-height: 1.1;
		font-weight: 500;
	}
	.price-old {
		font-size: 13px;
		line-height: 1.2;
	}
	&:hover {
		color: var(--clr-base);
	}
	.btn {
		width: 100%;
		z-index: 7;
		.button-ico {
			margin-right: 3px;
		}
	}
	&.tile-head {
		.tile-title-wrap {
			padding-top: 25px;
		}
		.tile-actions-wrap {
			padding-top: 6px;
			flex-wrap: nowrap;
		}
		.tile-action-wrap {
			width: auto;
			flex-basis: auto;
			flex-grow: 1;
		}
		.tile-title {
			font-size: 23px;
		}
		.tile-price {
			font-size: 30px;
		}
		.price-old {
			font-size: 20px;
		}
		.tile-photo {
			border-radius: var(--mainTileRadius);
			aspect-ratio: 350/410;
		}
		.tile-sticker {
			height: 27px;
			line-height: 27px;
			font-size: 18px;
			letter-spacing: 0.54px;
		}
		.tile-stickers-wrap {
			right: auto;
			left: 0;
			padding: 20px;
		}
		.btn {
			width: 100%;
		}
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
	flex-shrink: 0;
	&.photo-main {
		border-radius: var(--smallTileRadius);
	}
	&.photo-play {
		&:hover {
			&:after {
				background-color: var(--clr-att-second);
			}
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
			width: 40px;height: 40px;
			border-radius: 50%;
			background: var(--clr-att) url(../img/icons/play.svg) center no-repeat;
			background-size: 24px auto;
			transition: all ease 0.2s;
			margin: auto;
		}
		&:before {
			display: block !important;
			background: fade(#000, 30);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0;
			z-index: 2;
		}
	}
    &.photo-zoom {
		&>hover {
			&:after {
				width: 78px;height: 78px;
				background-size: 32px auto;
				background-color: var(--clr-att);
			}
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all ease 0.2s;
			width: 72px;height: 72px;
			border-radius: 50%;
			background: rgba(250, 72, 107, 0.83) url(../img/icons/zoom.svg);
			transform: translate(-50%, -50%);
			background-size: 30px auto;
			background-repeat: no-repeat;
			background-position: center;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 0.4s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
		color: var(--clr-vlight);
    }
	&.price-att {
		color: var(--clr-att);
	}
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
	flex-shrink: 0;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 40);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	flex-shrink: 0;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #000;
	height: 25px;;
	line-height: 25px;;
	border-radius: var(--smallButtonRadius);
	padding: 0 10px;
	min-width: 54px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.48px;
	color: #fff;
	text-transform: uppercase;
	&.type-att {
		background: linear-gradient(251deg, #FF115A 0%, #FF6594 100%);
	}
	&.type-att-second {
		background: linear-gradient(252deg, #5C9A12 0%, #84D425 100%);
	}
	&.type-yellow {
		background: var(--clr-yellow);
		color: var(--clr-base);
	}
	&.type-green {
		border: 1px solid var(--clr-att-second);
		color: var(--clr-att-second);
		background: #FBFFF5;
		backdrop-filter: blur(5px);
	}
}
.item-tile-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
	position: relative;
	padding: 10px 50px 10px 28px;
	transition: all ease 0.2s;
	background: #fff;
	min-height: 58px;
	color: var(--clr-base);
	&:hover, &.active {
		background-color: #FFF9FB;
		color: var(--clr-att);
		&:before {
			filter: none;
		}
	}
	&.active {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	.tile-title {
		display: block;
		font-size: 15px;
		line-height: 20px;
		font-weight: 500;
		margin: 0;
	}
	.tile-info {
		display: block;
		margin: 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: var(--clr-light);
	}
	&:before, &:after {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/arrow-main.svg) center no-repeat;
		background-size: 100% auto;
		transition: all ease 0.2s;
		position: absolute;
		top: 50%;right: 10px;
		margin-top: -12px;
	}
	&:before {
		filter: var(--filterAttToBase);
	}
	&:after {
		opacity: 0;
		background-image: url(../img/icons/location.svg);
	}
}
.type-green {
	.elm-helper {
		&:before {
			background-image: url(../img/icons/info-second.svg);
		}
	}
}
.elm-helper {
	display: block;
	flex-shrink: 0;
	width: 24px;height: 24px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	&.type-gray {
		&:before {
			filter: var(--filterAttToLight);
		}
	}
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/info.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 50%;
		margin: -12px 0 0 -12px;
	}
}
.elm-row {
	display: flex;
	align-items: flex-end;
	position: relative;
	font-size: 15px;
	line-height: 20px;
	overflow: hidden;
	justify-content: space-between;
	&:after {
		content: "";
		display: block;
		height: 1px;
		border-top: 1px dashed #DBDBDB;
		width: auto;
		flex: 1;
		order: 2;
		margin-bottom: 0.4em;
	}
	.row-title {
		padding: 0 5px 0 0;
		position: relative;
		z-index: 2;
		order: 1;
	}
	.row-value {
		flex-shrink: 0;
		text-align: right;
		max-width: 30%;
		padding: 0 0 0 5px;
		z-index: 2;
		position: relative;
		order: 3;
	}
}
@media (max-width: 1023px) {
	.popup-box {
		.item-tile-cart {
			flex-wrap: wrap;
			.tile-info-wrap {
				flex: 1;
				padding-right: 0;
				width: calc(100% - 115px);
			}
			.tile-side-wrap {
				width: 100%;
				flex-shrink: 0;
				margin-top: 15px;
			}
			.tile-title-wrap {
				padding-right: 20px;
			}
		}
		@supports (display: contents) {
			.item-tile-cart {
				padding-left: 152px;
				min-height: 155px;
				.tile-inner-wrap {
					min-height: 115px;
					order: 1;
					width: 100%;
				}
				.tile-photo-wrap {
					position: absolute;
					top: 19px;left: 19px;
					margin: 0;
					padding: 0;
				}
				.tile-title-wrap {
					width: 100%;
					flex-shrink: 0;
					order: 1;
				}
				.tile-select-wrap {
					order: 2;
					width: 100%;
					flex-shrink: 0;
					margin-bottom: 0;
				}
				.tile-price-wrap {
					margin: 10px 0 0 -133px;
					width: calc(100% + 133px);
					flex-shrink: 0;
					order: 5;
					font-size: 15px;
				}
				.tile-side-wrap {
					order: 3;
					margin: 16px 0 0 -133px;
					width: calc(100% + 133px);
					flex-shrink: 0;
				}
				.tile-total-wrap {
					padding-left: 16px;;
					.tile-price {
						font-size: 21px;
						&.price-old {
							font-size: 14px;
						}
					}
				}
				.tile-content-wrap {
					width: 115px;
				}
				.tile-info-wrap {
					display: contents;
				}
				.tile-photo {
					aspect-ratio: 1;
				}
				.frm-select-button.type-small label {
					padding: 0 5px;
				}
			}
		}
	}
	.item-tile-cart {
		padding: 19px;
		.tile-photo-wrap {
			width: 115px;
		}
		.tile-title {
			font-size: 18px;
			line-height: 21px;
		}
	}
}
@media (min-width: 600px) {
	.item-tile-catalog {
		&.tile-head {
			.tile-content-wrap, .tile-title-wrap {
				flex: 0 0 auto;
			}
			.tile-photo-wrap {
				flex: 1;
				position: relative;
			}
			.tile-photo {
				aspect-ratio: inherit;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}
@media (max-width: 767px) {
	.popup-box {
		.item-tile-cart {
			padding: 14px 14px 14px 130px;
			@supports (display: contents) {
				.tile-photo-wrap {
					width: 100px;
				}
				.tile-side-wrap, .tile-price-wrap {
					margin-left: -116px;
					width: calc(100% + 116px);
				}
			}
		}
	}
	.item-tile-cart {
		flex-wrap: wrap;
		.tile-info-wrap {
			flex: 1;
			padding-right: 0;
			width: calc(100% - 115px);
		}
		.tile-side-wrap {
			width: 100%;
			flex-shrink: 0;
			margin-top: 15px;
		}
		.tile-title-wrap {
			padding-right: 20px;
		}
		&.tile-gift {
			display: flex;
			align-items: center;
			padding-left: 19px;
			.tile-photo-wrap {
				position: relative;
				top: auto;
				bottom: auto;
				left: auto;
				right: auto;
				order: -1;
			}
			.tile-info-wrap {
				display: block;
				flex: 1;
				order: 2;
				margin: 0;
			}
			.tile-title-wrap {
				padding-right: 0;
			}
			.tile-inner-wrap {
				min-height: 0;
			}
			.tile-side-wrap {
				display: none;
			}
			.tile-subtitle {
				display: block;
			}
			.tile-title {
				font-size: 18px;
				margin-bottom: 6px;
				padding-right: 20px;
			}
			.tile-subtitle {
				margin-bottom: 6px;
			}
			.tile-text {
				font-size: 14px;
			}
		}
	}
	@supports (display: contents) {
		.item-tile-cart {
			padding-left: 152px;
			min-height: 155px;
			.tile-inner-wrap {
				min-height: 115px;
				order: 1;
				width: 100%;
			}
			.tile-photo-wrap {
				position: absolute;
				top: 19px;left: 19px;
				margin: 0;
				padding: 0;
			}
			.tile-title-wrap {
				width: 100%;
				flex-shrink: 0;
				order: 1;
			}
			.tile-select-wrap {
				order: 2;
				width: 100%;
				flex-shrink: 0;
				margin-bottom: 0;
			}
			.tile-price-wrap {
				margin: 10px 0 0 -133px;
				width: calc(100% + 133px);
				flex-shrink: 0;
				order: 5;
				font-size: 15px;
			}
			.tile-side-wrap {
				order: 3;
				margin: 16px 0 0 -133px;
				width: calc(100% + 133px);
				flex-shrink: 0;
			}
			.tile-total-wrap {
				padding-left: 16px;;
				.tile-price {
					font-size: 21px;
					&.price-old {
						font-size: 14px;
					}
				}
			}
			.tile-content-wrap {
				width: 115px;
			}
			.tile-info-wrap {
				display: contents;
			}
			.tile-photo {
				aspect-ratio: 1;
			}
			.frm-select-button.type-small label {
				padding: 0 5px;
			}
		}
	}
}
@media (max-width: 389px) {
	.item-tile-cart {
		padding: 14px 14px 14px 130px;
		&.tile-gift {
			padding: 14px;
		}
		@supports (display: contents) {
			.tile-photo-wrap {
				width: 100px;
			}
			.tile-side-wrap, .tile-price-wrap {
				margin-left: -116px;
				width: calc(100% + 116px);
			}
		}
	}
}
@media (min-width: 1024px) {
	.item-tile-feature-main {
		font-size: 16px;
		line-height: (20/16);
		padding: 2.9rem;
		.tile-info-wrap {
			padding-left: 2.7rem;
		}
		.tile-photo-wrap {
			width: 15.9rem;
		}
		.tile-info {
			margin-left: -18.6rem;
		}
		.tile-title {
			font-size: 2.8rem;
			height: 15.9rem;
		}
		li {
			&:before {
				top: 10px;
			}
		}
	}
	.item-tile-feature {
		.tile-title {
			font-size: (18/15em);
			margin-bottom: 5px;
		}
	}
	.elm-info-attention {
		padding: 20px 20px 20px 75px;
		&:before {
			left: 20px;
		}
	}
	.elm-card-panel {
		padding: 14px 23px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		border-radius: 16px;
		.panel-title {
			margin-bottom: 3px;
		}
	}
	.item-tile-review {
		font-size: 17px;
		line-height: (25/17);
		.tile-photo {
			width: 33rem;
		}
	}
	.item-tile-catalog {
		.tile-title-wrap {
			padding-top: 16px;
		}
		.tile-price {
			font-size: 23px;
		}
		.price-old {
			font-size: 18px;
		}
		&.tile-main, &.tile-head {
			.tile-stickers-wrap {
				padding: 25px;
			}
			.tile-title-wrap {
				padding-top: 18px;
			}
			.tile-actions-wrap {
				flex-wrap: nowrap;
			}
			.tile-action-wrap {
				width: auto;
				flex-basis: auto;
				flex-grow: 1;
				max-width: 152px;
			}
			.tile-title {
				font-size: 25px;
			}
			.tile-price {
				font-size: 29px;
			}
			.price-old {
				font-size: 19px;
			}
			.btn {
				width: 100%;
			}
		}
		&.tile-head {
			.tile-title-wrap {
				padding-top: 20px;
				margin-bottom: 18px;
			}
			.tile-content-wrap {
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				gap: 24px;
			}
			.tile-price-wrap {
				width: auto;
				flex-shrink: 0;
				max-width: 100%;
			}
			.tile-actions-wrap {
				flex-shrink: 0;
				width: auto;
			}
			.tile-action-wrap {
				flex: 0 0 auto;
				padding: 0;
				min-width: 152px;
			}
			.tile-price {
				font-size: 32px;
			}
			.price-old {
				font-size: 21px;
			}
			.tile-title {
				font-size: 30px;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.content-wrap {
		.item-tile-cart {
			flex-wrap: wrap;
			.tile-info-wrap {
				flex: 1;
				padding-right: 0;
				width: calc(100% - 115px);
			}
			.tile-side-wrap {
				width: 100%;
				flex-shrink: 0;
				margin-top: 15px;
			}
			.tile-title-wrap {
				padding-right: 20px;
			}
			.tile-photo-wrap {
				width: 115px;
			}
			&.tile-gift {
				display: flex;
				align-items: center;
				padding: 19px;
				.tile-photo-wrap {
					position: relative;
					top: auto;
					bottom: auto;
					left: auto;
					right: auto;
				}
				.tile-info-wrap {
					display: block;
				}
				.tile-title-wrap {
					padding-right: 0;
				}
				.tile-side-wrap {
					display: none;
				}
				.tile-subtitle {
					display: block;
				}
				.tile-title {
					margin-bottom: 8px;
					padding-right: 20px;
				}
			}
		}
		@supports (display: contents) {
			.item-tile-cart {
				padding-left: 152px;
				min-height: 155px;
				.tile-inner-wrap {
					min-height: 115px;
					order: 1;
					width: 100%;
				}
				.tile-photo-wrap {
					position: absolute;
					top: 19px;left: 19px;
					margin: 0;
					padding: 0;
				}
				.tile-title-wrap {
					width: 100%;
					flex-shrink: 0;
					order: 1;
				}
				.tile-select-wrap {
					order: 2;
					width: 100%;
					flex-shrink: 0;
					margin-bottom: 0;
				}
				.tile-price-wrap {
					margin: 10px 0 0 -133px;
					width: calc(100% + 133px);
					flex-shrink: 0;
					order: 5;
					font-size: 15px;
				}
				.tile-side-wrap {
					order: 3;
					margin: 16px 0 0 -133px;
					width: calc(100% + 133px);
					flex-shrink: 0;
				}
				.tile-total-wrap {
					padding-left: 16px;;
					.tile-price {
						font-size: 21px;
						&.price-old {
							font-size: 14px;
						}
					}
				}
				.tile-content-wrap {
					width: 115px;
				}
				.tile-info-wrap {
					display: contents;
				}
				.tile-photo {
					aspect-ratio: 1;
				}
				.frm-select-button.type-small label {
					padding: 0 5px;
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.tiles-cart-box {
		.item-tile-cart {
			padding-right: 19px;
			padding-left: 19px;
			.tile-info-wrap {
				padding-right: 10px;
			}
			.tile-photo-wrap {
				width: 100px;
			}
			.tile-total-wrap {
				padding-left: 20px;
				width: 16rem;
			}
		}
	}
}
@media (min-width: 1400px) {
	.item-tile-feature-main {
		.tile-title {
			height: auto;
			display: block;
			margin: 0 0 12px 0;
			line-height: 1;
		}
		.tile-info {
			margin: 0;
			padding: 0;
		}
		ul li {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 1500px) {
	.item-tile-catalog {
		.tile-actions-wrap {
			//flex-wrap: nowrap;
		}
		.tile-action-wrap {
			width: auto;
			flex-basis: auto;
			flex-grow: 1;
		}
	}
}