/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */

.frm-popup {
	.frm-row, .frm-row-submit {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}
	.frm-row-submit {
		padding-top: 8px;
		&:first-child {
			padding-top: 0;
		}
		.frm-field {
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.frm-field {
		width: 100%;
		flex-shrink: 0;
		padding: 0 5px;
		margin-bottom: 14px;
	}
	.frm-row-submit {
		.frm-field-links {
			text-align: center;
			padding-top: 4px;
			font-size: 15px;
			line-height: 18px;
			font-weight: 400;
		}
	}
	.field-half {
		width: 50%;
	}
	* {
		font-weight: inherit;
	}
	b {
		font-weight: 500;
	}
	.link-phone {
		.text-att {
			font-size: 1.2em;
		}
	}
}

.frm-field-links {
	margin-top: 12px;
	font-size: 13px;
	line-height: (18/13);
	font-weight: 400;
	&:first-child {
		margin-top: 0;
	}
	p {
		margin: 0 0 8px 0;
		padding: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		border-bottom: 1px solid;
		&:not(:hover) {
			color: #5C9A12;
		}
	}
}
.frm-field-info {
	display: block;
	font-size: 13px;
	line-height: 17px;
	font-weight: 300;
	color: #9A9A9A;
	margin-top: 12px;
	&:first-child {
		margin-top: 0;
	}
	a {
		&:not(:hover) {
			color: inherit;
		}
	}
}

.frm-field-code {
	display: flex;
	gap: 10px;
	input.form-input {
		width: 48px;
		max-width: calc(25% - 8px);
		text-align: center;
		font-size: 22px;
		font-weight: 500;
		padding: 0;
	}
}
.frm-field-title {
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	margin: 0 0 8px 0;
	color: #333;
}
.frm-field-message {
	display: block;
	position: relative;
	font-size: 13px;
	line-height: 17px;
	font-weight: 300;
	margin: 9px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	b {
		font-weight: 500;
	}
}
.frm-field-labels {
	display: block;
	position: relative;
	color: #c6c6c6;
	.field-labels {
		display: flex;
		gap: 5px;
	}
	.field-label {
		display: block;
		flex: 1;
		height: 3px;
		background: #F4F3F0;
		border-radius: 2px;
	}
	.field-label-title {
		display: none;
		font-size: 15px;
		line-height: 20px;
		font-weight: 500;
		margin-top: 5px;
	}
	&.type-simple {
		color: #A0D95D;
		.field-label:nth-child(1) {
			background: #A0D95D;
		}
		.title-simple {
			display: block;
		}
	}
	&.type-middle {
		color: #FFC830;
		.field-label:nth-child(1),
		.field-label:nth-child(2) {
			background: #FFC830;
		}
		.title-middle {
			display: block;
		}
	}

	&.type-hard {
		color: #FF115A;
		.field-label {
			background: #FF115A;
		}
		.title-hard {
			display: block;
		}
	}
}
.frm-main-search {
	position: relative;
	display: flex;
	gap: 6px;
	.btn {
		height: 48px;
		padding: 0 24px;
		border-radius: var(--smallButtonRadius);
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: normal;
		.button-ico {
			margin: 0 5px 0 -4px;
		}
	}
	.form-input {
		height: 48px;
		width: auto;
		flex: 1;
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select, .frm-select-button {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}


.frm-select {
	input {
		&[type="radio"] {
			&~label {
				&:before {
					border-radius: 50%;
				}
				&:after {
					width: 8px;height: 8px;
					margin: -4px 0 0 -4px;
					border-radius: 50%;
					background: #000;
				}
			}
		}
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		&:before, &:after {
			
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/chk.svg) center / 24px auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.frm-select-button {
	line-height: 1;
	flex-shrink: 0;
	max-width: 100%;
	input {
		&:checked {
			&~label {
				border-color: var(--clr-att);
				background-color: var(--clr-att);
				color: #fff;
				font-weight: 500;
			}
		}
	}
	label {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 44px;
		padding: 0 19px;
		border: 1px solid #E5E5E5;
		transition: all ease 0.2s;
		border-radius: var(--smallButtonRadius);
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		color: var(--clr-light);
		&:hover {
			border-color: var(--clr-att);
			color: var(--clr-att);
		}
	}
}
body {
	.tippy-box {
		background: #fff;
		border-radius: 12px;
		border: 1px solid #EFEFEF;
		overflow: hidden;
		.tippy-content {
			font-size: 14px;
			line-height: (18/14);
			padding: 16px;
			color: var(--clr-base);
			box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10);
		}
		.tippy-arrow {
			color: #fff;;
			display: none;
		}
	}
}
body {
}
@media (min-width: 1024px) {
	
}