
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.png" alt="">
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn button-border">
						<div class="button-ico">
							<img src="./img/icons/tg.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-border">
						<div class="button-ico">
							<img src="./img/icons/vk.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-border">
						<div class="button-ico">
							<img src="./img/icons/ok.svg" alt="">
						</div>
					</a>
				</div>
				<div class="info-wrap">
					<p>© «Малина66» <br>ИП Малинина Елена Сергеевна, 2007—2025</p>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Каталог товаров</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Букеты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Корзины и ящики</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Цветы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Подарки</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Воздушные шары</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Покупателям</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Школа флористики</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Услуги</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Корпоративным клиентам</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оформление свадьбы</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="contacts-inner-wrap">
				<div class="footer-title">Адреса наших магазинов <span class="text-att">(8)</span></div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/location.svg" alt="">
					</div>
					<div class="cnt-title">ул. Амундсена, 64</div>
					<div class="cnt-info">время работы с 08.00 до 21.00</div>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/location.svg" alt="">
					</div>
					<div class="cnt-title">ул. Бакинских комиссаров, 95</div>
					<div class="cnt-info">время работы с 09.00 до 21.00</div>
				</div>
				<div class="action-wrap">
					<a href="" class="link-main link-hover-second border-style-dashed">Показать все</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">Обработка заказов с 09:00 до 21:00. Приём заказов на сайте круглосуточно. Служба доставки работает с 07:00 до 22:00</div>
			<div class="action-wrap">
				<a href="tel:83432472026" class="btn-contact-action">+7 (343) 247-20-26</a>
			</div>
			<div class="action-wrap">
				<a href="tel:89826426279" class="btn-contact-action">+7 (982) 642-62-79 (WhatsApp)</a>
			</div>
			<div class="action-wrap">
				<a href="mailto:info@malina66.ru" class="btn-contact-action">info@malina66.ru</a>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
	<a href="#top" class="btn button-up">
		<div class="button-ico">
			<img src="./img/icons/arrow-slider.svg" alt="">
		</div>
	</a>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box popup-contacts" id="popup-contacts">
	<div class="popup-box">
		<div class="popup-title-wrap">
			<div class="elm-ico">
				<img src="./img/icons/location-main.svg" alt="">
			</div>
			<div class="popup-title">Наши магазины (8)</div>
			<a href="" class="btn-popup-close btn button-white button-hover-att-second button-ico-dark btn-action-ico ico-close-small js-popup-close"></a>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-contacts-box">
				<div class="info-inner-wrap">
					<div class="section-title">Контакты</div>
					<div class="cnt-inner-wrap">
						<div class="cnt-wrap">
                            <div class="elm-ico">
                                <img src="./img/icons/phone.svg" alt="">
                            </div>
                            <div class="cnt-title"><a href="tel:83432472026">+7 (343) 247-20-26</a></div>
                            <div class="cnt-info">время работы с 08.00 до 21.00</div>
                        </div>
						<div class="cnt-wrap">
                            <div class="elm-ico">
                                <img src="./img/icons/email.svg" alt="">
                            </div>
                            <div class="cnt-title"><a href="mailto:info@malina66.ru">info@malina66.ru</a></div>
                        </div>
					</div>
					<div class="section-title">Адреса магазинов:</div>
					<div class="items-wrap js-toggle-buttons">
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Амундсена, 64</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Бакинских комиссаров, 95</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one active">
								<div class="tile-title">ул. Советская, 52</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Ак. Шварца, 8/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">пр. Ак. Сахарова, 57</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Крауля, 8</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Белореченская, 13/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Амундсена, 64</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Бакинских комиссаров, 95</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Советская, 52</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Ак. Шварца, 8/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">пр. Ак. Сахарова, 57</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Крауля, 8</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Белореченская, 13/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Амундсена, 64</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Бакинских комиссаров, 95</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Советская, 52</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Ак. Шварца, 8/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">пр. Ак. Сахарова, 57</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Крауля, 8</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Белореченская, 13/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Амундсена, 64</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Бакинских комиссаров, 95</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Советская, 52</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Ак. Шварца, 8/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">пр. Ак. Сахарова, 57</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Крауля, 8</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="item-wrap">
							<a href="" class="item-tile-cnt js-btn-tgl-one">
								<div class="tile-title">ул. Белореченская, 13/1</div>
								<div class="tile-info">(г. Екатеринбург)</div>
							</a>
						</div>
						<!--/item wrap-->
					</div>
				</div>
				<div class="map-inner-wrap">
					<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->