
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.png" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">О компании</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Доставка</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Оплата</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Услуги</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Школа флористики</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Контакты</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap action-search js-popup-wrap">
				<a href="" class="btn-action-ico ico-search button-ico-dark js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Что будем искать?">
						<button type="submit" class="button-form btn">
							<div class="button-ico">
								<img src="./img/icons/search.svg" alt="">
							</div>
							<div class="button-title">Найти</div>
						</button>
					</form>
				</div>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico ico-location button-ico-dark js-popup-open" data-popup="popup-contacts"></a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico ico-phone button-ico-dark"></a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico ico-user button-ico-dark"></a>
			</div>
			<div class="action-wrap action-basket">
				<a href="" class="btn-action-ico ico-basket button-ico-dark" data-count></a>
			</div>
		</div>
		<div class="catalog-inner-wrap popup-catalog-wrap js-popup-wrap">
			<a href="" class="btn btn-popup js-btn-popup-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
				<div class="button-title">Каталог</div>
			</a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn button-att-second btn-action-ico ico-close-small js-btn-popup-close"></a>
				<div class="catalog-menu-wrap js-toggle-buttons">
					<div class="catalog-menu-title">Каталог цветов</div>
					<ul class="menu catalog-menu">
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one desktop-active">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu01.jpg" alt="">
								</div>
								<div class="button-title">Букеты</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu active">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="catalog-items-wrap">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="elm-photo photo-cover catalog-photo">
											<img src="./img/menu.jpg" alt="">
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu02.jpg" alt="">
								</div>
								<div class="button-title">Цветы и ящики</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="catalog-items-wrap">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="elm-photo photo-cover catalog-photo">
											<img src="./img/menu.jpg" alt="">
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu03.jpg" alt="">
								</div>
								<div class="button-title">Корзины</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
									
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
									
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
									
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="catalog-items-wrap">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-01.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "21 розовая эустома"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
											<div class="tile-stickers-wrap">
												<div class="tile-sticker type-att">Хит</div>
												<div class="tile-sticker type-att-second">Топ</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<div class="item-tile-catalog">
											<a href="" class="tile-link"></a>
											<div class="tile-photo-wrap">
												<div class="tile-photo photo-cover">
													<img src="./img/cat01-02.jpg" alt="">
												</div>
											</div>
											<div class="tile-title-wrap">
												<div class="tile-title">Букет "Микс роз"</div>
											</div>
											<div class="tile-content-wrap">
												<div class="tile-price-wrap">
													<div class="tile-price price-att" data-unit=" ₽">4 904</div>
													<div class="tile-price price-old" data-unit=" ₽">6 130</div>
												</div>
												<div class="tile-actions-wrap">
													<div class="tile-action-wrap">
														<a href="" class="btn button-small button-border button-att-second">
															<div class="button-ico type-fill">
																<img src="./img/icons/buy.svg" alt="">
															</div>
															<div class="button-title">Заказ в 1 клик</div>
														</a>
													</div>
													<div class="tile-action-wrap">
														<a href="" class="btn button-small">
															<div class="button-ico">
																<img src="./img/icons/cart.svg" alt="">
															</div>
															<div class="button-title">Купить</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/item wrap-->
								</div>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu04.jpg" alt="">
								</div>
								<div class="button-title">Каталог цветов</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu05.jpg" alt="">
								</div>
								<div class="button-title">Сухоцветы</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu06.jpg" alt="">
								</div>
								<div class="button-title">Онлайн-витрина</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu07.jpg" alt="">
								</div>
								<div class="button-title">Комнатные растения</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Букеты из роз</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Классические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Круглые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Вертикальные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Авторская флористика</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">101 роза</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu08.jpg" alt="">
								</div>
								<div class="button-title">Воздушные шары</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
						<!-- menu item -->
						<li>
							<a href="" class="btn-catalog-menu js-btn-tgl-one">
								<div class="button-photo elm-photo photo-cover">
									<img src="./img/menu09.jpg" alt="">
								</div>
								<div class="button-title">Подарки</div>
							</a>
							<div class="catalog-submenu-wrap">
								<ul class="menu">
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Разные цветы</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">V.I.P</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Съедобные</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Монобукеты</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Экзотические</div>
										</a>
									</li>
									<li>
										<a href="" class="btn-catalog-submenu">
											<div class="button-title">Раскидистые</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- /menu item -->
					</ul>
				</div>
			</div>
			<div class="elm-overlay"></div>
		</div>
	</div>
</header>
<!-- /header -->

<!--panel-mobile-box-->
<div class="panel-mobile-box cnt-section">
	<div class="inner-wrap">
		<div class="action-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-info js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn btn-action-ico ico-close-small js-btn-popup-close"></a>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О компании</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Доставка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Оплата</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Услуги</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Школа флористики</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="action-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-search button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Что будем искать?">
					<button type="submit" class="button-form btn">
						<div class="button-ico">
							<img src="./img/icons/search.svg" alt="">
						</div>
						<div class="button-title">Найти</div>
					</button>
				</form>
			</div>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-ico ico-location js-popup-open" data-popup="popup-contacts"></a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-ico ico-phone"></a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-ico ico-user"></a>
		</div>
	</div>
</div>
<!--/panel-mobile-box-->