<!--popup-outer-box-->
<div class="popup-outer-box popup-login" id="popup-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Регистрация</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Имя" value="Александр">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Фамилия" value="Сучков">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="tel" class="form-input inp-error" placeholder="Номер телефона" value="+7 (495) 584-85-96">
						<div class="frm-field-message">
							<p><b>Этот e-mail уже используется.</b> Вы можете войти в личный кабинет или восстановить пароль?</p>
						</div>
						<div class="frm-field-links">
							<p><a href="" class="js-popup-open" data-popup="popup-login">Войти в личный кабинет</a></p>
							<p><a href="" class="js-popup-open" data-popup="popup-password-remember">Восстановить пароль</a></p>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="email" class="form-input inp-error" placeholder="E-mail (логин)" value="moder2014pro@gmail.com">
						<div class="frm-field-message">
							<p><b>Этот e-mail уже используется.</b> Вы можете войти в личный кабинет или восстановить пароль?</p>
						</div>
						<div class="frm-field-links">
							<p><a href="" class="js-popup-open" data-popup="popup-login">Войти в личный кабинет</a></p>
							<p><a href="" class="js-popup-open" data-popup="popup-password-remember">Восстановить пароль</a></p>
						</div>
					</div>
				</div>

				<div class="frm-row">
					<div class="frm-field">
						<input type="password" class="form-input" placeholder="Пароль для входа">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<!-- to "frm-field-labels" add or remove class "type-simple" or "type-middle" or "type-hard" -->
						<div class="frm-field-labels type-simple">
							<div class="field-labels">
								<div class="field-label"></div>
								<div class="field-label"></div>
								<div class="field-label"></div>
							</div>
							<div class="field-label-title title-simple">Простой</div>
							<div class="field-label-title title-middle">Средний</div>
							<div class="field-label-title title-hard">Сложный</div>
						</div>
					</div>
				</div>
				<div class="frm-row">

				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn btn-red btn-form btn-full" disabled>
							<span class="button-title">Зарегистрироваться</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->


<div class="popup-outer-box popup-login" id="popup-succefull-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-ico">
				<img src="./img/succefull.svg" alt="">
			</div>
			<div class="popup-title">Регистрация прошла успешно!</div>
			<p>Теперь вы можете пользоваться всеми возможностями сайта</p>
		</div>
		<div class="popup-content-wrap">
			<div  class="frm-popup">
				<div class="frm-row-submit">
					<div class="frm-field">
						<a href="" class="btn btn-red btn-form btn-full">
							<div class="button-title">Перейти в личный кабинет</div>
						</a>
					</div>
					<div class="frm-field">
						<a href="" class="btn btn-red btn-form btn-border btn-full">
							<div class="button-title">Перейти к покупкам</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->


<div class="popup-outer-box popup-login" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Вход в личный кабинет</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row js-tabs-nav">
					<div class="frm-field field-half">
						<a href="" class="btn btn-form btn-red btn-border btn-full active" data-tab="form01">По E-mail</a>
					</div>
					<div class="frm-field field-half">
						<a href="" class="btn btn-form btn-red btn-border btn-full" data-tab="form02">По номеру</a>
					</div>
				</div>
				<div class="js-tab-block frm-tab-block" data-tab="form01">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-title">Логин (e-mail)</div>
							<input type="email" class="form-input" placeholder="example@example.com" value="">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-title">Пароль</div>
							<input type="password" class="form-input" placeholder="Password" value="">
							<div class="frm-field-links">
								<p><a href="" class="js-popup-open" data-popup="popup-password-remember">Забыли пароль?</a></p>
							</div>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field">
							<button type="submit" class="btn btn-red btn-form btn-full" disabled>
								<span class="button-title">Войти в личный кабинет</span>
							</button>
						</div>
						<div class="frm-field">
							<div class="frm-field-links">
								<p><a href="" class="js-popup-open" data-popup="popup-reg">Зарегистрироваться</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="js-tab-block frm-tab-block" data-tab="form02">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-title">Номер телефона</div>
							<input type="tel" class="form-input" placeholder="+ 7 (___) ___ - __ - __" value="">
							<div class="frm-field-message">На указанный номер будет отправлен код подтверждения</div>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field">
							<a href="" class="btn btn-red btn-form btn-full button-disabled">
								<div class="button-title">Отправить код</div>
							</a>
						</div>
						<div class="frm-field">
							<div class="frm-field-links">
								<p><a href="" class="js-popup-open" data-popup="popup-reg">Зарегистрироваться</a></p>
							</div>
						</div>
						<div class="frm-field">
							<div class="frm-field-info">Нажимая на кнопку “Отправить код”, я соглашаюсь с пользовательским соглашением, политикой конфиденциальности и подтверждаю согласие на получение сообщений рекламного характера.</div>
						</div>
					</div>
				</div>
			</form>
			<div class="login-buttons-box">
				<div class="login-title-wrap">
					<div class="login-title">Войти через</div>
				</div>
				<div class="login-buttons-wrap">
					<div class="login-button">
						<a href="" class="btn btn-form btn-gray">
							<div class="button-ico">
								<img src="./img/icons/login01.svg" alt="">
							</div>
							<div class="button-title">Яндекс ID</div>
						</a>
					</div>
					<div class="login-button">
						<a href="" class="btn btn-form btn-gray">
							<div class="button-ico ico-hover-light">
								<img src="./img/icons/login02.svg" alt="">
							</div>
							<div class="button-title">AppleID</div>
						</a>
					</div>
					<div class="login-button">
						<a href="" class="btn btn-form btn-gray">
							<div class="button-ico">
								<img src="./img/icons/login03.svg" alt="">
							</div>
							<div class="button-title">Google</div>
						</a>
					</div>
					<div class="login-button">
						<a href="" class="btn btn-form btn-gray">
							<div class="button-ico ico-hover-light">
								<img src="./img/icons/login04.svg" alt="">
							</div>
							<div class="button-title">Вконтакте</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-login" id="popup-password-remember">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Восстановление пароля</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-title">Адрес электронной почты указанный при регистрации на сайте</div>
						<input type="email" class="form-input" placeholder="E-mail (логин)" value="">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn btn-red btn-form btn-full">
							<span class="button-title">Восстановить доступ</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-login" id="popup-password-new">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Новый пароль</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-title">Введите новый пароль</div>
						<input type="password" class="form-input" placeholder="Новый пароль для входа" value="">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<!-- to "frm-field-labels" add or remove class "type-simple" or "type-middle" or "type-hard" -->
						<div class="frm-field-labels type-hard">
							<div class="field-labels">
								<div class="field-label"></div>
								<div class="field-label"></div>
								<div class="field-label"></div>
							</div>
							<div class="field-label-title title-simple">Простой</div>
							<div class="field-label-title title-middle">Средний</div>
							<div class="field-label-title title-hard">Сложный</div>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn btn-red btn-form btn-full">
							<span class="button-title">Сохранить и войти в ЛК</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-login" id="popup-code">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title title-small">Введите проверочный&nbsp;код</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-message">Вам поступит звонок на номер <b class="link-phone">+ 7 (495) 584-62-54</b>, введите последние 4 цифры входящего номера <b class="link-phone">+7 (777) 77-<span class="text-att">77-77</span></b></div>
						<div class="frm-field-links">
							<p><a href="">Изменить номер</a></p>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-code">
							<input type="text" maxlength="1" pattern="[0-9]"  inputmode="numeric"  class="form-input">
							<input type="text" maxlength="1" pattern="[0-9]"  inputmode="numeric"  class="form-input">
							<input type="text" maxlength="1" pattern="[0-9]"  inputmode="numeric"  class="form-input">
							<input type="text" maxlength="1" pattern="[0-9]"  inputmode="numeric"  class="form-input">
						</div>
						<div class="frm-field-info">Получить новый код через 00:16</div>
						<div class="frm-field-links">
							<p><b>Неверный код.</b></p>
							<p><a href=""><b>Получить новый код</b></a></p>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn btn-red btn-form btn-full">
							<span class="button-title">Войти в личный кабинет</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-login" id="popup-succefull-password">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-ico">
				<img src="./img/succefull.svg" alt="">
			</div>
			<div class="popup-title">Проверьте почту</div>
			<p>Ссылка для восстановления пароля отправлена на Вашу почту, перейдите по ссылке и задайте новый пароль</p>
		</div>
	</div>
</div><!--/popup-outer-box-->


<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-feature-item">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-feature-box">
				<div class="photo-inner-wrap">
					<div class="elm-photo">
						<img src="./img/feature.jpg" alt="">
					</div>
				</div>
				<div class="info-inner-wrap">
					<div class="popup-title">Роза розовая/малиновая 40-50см</div>
					<p>Цветок роза – символ красоты, утонченность его нежных лепестков гармонично сочетается с острыми шипами. Розовые розы часто символизируют новое начало отношений, некий намек на то чувство, которое, возможно в скором будущем, разгорится во всю силу. Розовый цвет роз выражает благодарность и гордость, симпатию и сладкие мысли, нежные эмоции и чувство восхищения. Королева цветов любит уход:</p>
					<ol class="list-att">
						<li>Удалите у роз листья и шипы, которые окажутся в вазе, чтобы они не загнивали</li>
						<li>Погрузите стебли в емкость с водой и острым ножом обрежьте их под углом 45 градусов на расстоянии 1,5-2 см. Это увеличит площадь поступления питательных веществ, и капилляры цветка не закупорятся воздухом.</li>
						<li>Заполните вазу водой на 3/4. Розы быстро впитывают жидкость.</li>
						<li>Используйте отстоянную воду из крана. Добавьте "Крезал". </li>
						<li>Ежедневно меняйте воду и подрезайте стебли на 0,5-1 см. Вазу надо не просто ополаскивать, а мыть с мылом и тщательно протирать, чтобы уничтожить бактерии.</li>
						<li>Идеальная температура в помещении для букета роз — 18 градусов. </li>
					</ol>
					<p>Но, даже если в комнате теплее, главное — держите композицию подальше от солнца и батарей. Не ленитесь следовать несложным рекомендациям, чтобы красивые бутоны не вяли и подольше радовали Вас своей красотой.</p>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->


<!--popup-outer-box-->
<div class="popup-outer-box popup-main" id="popup-card-composition">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close btn-green js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--info-card-box-->
			<div class="info-card-box">
				<!-- photos -->
				<div class="photos-inner-wrap">
					<!--tiles-thumbs-slider-box-->
					<div class="tiles-thumbs-slider-box">
						<!-- slider main -->
						<div class="slider-inner-wrap slider-photos-main">
							<div class="slider-wrap swiper">
								<div class="slider swiper-wrapper">
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<a href="./img/card01.jpg" class="elm-photo photo-cover photo-zoom" data-fancybox="card">
											<img src="./img/card01.jpg" alt="">
										</a>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<a href="./img/card02.jpg" class="elm-photo photo-cover photo-zoom" data-fancybox="card">
											<img src="./img/card02.jpg" alt="">
										</a>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<a href="./img/card03.jpg" class="elm-photo photo-cover photo-zoom" data-fancybox="card">
											<img src="./img/card03.jpg" alt="">
										</a>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<a href="./img/card01.jpg" class="elm-photo photo-cover photo-zoom" data-fancybox="card">
											<img src="./img/card01.jpg" alt="">
										</a>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<a href="./img/card02.jpg" class="elm-photo photo-cover photo-zoom" data-fancybox="card">
											<img src="./img/card02.jpg" alt="">
										</a>
									</div>
									<!--/sl-wrap-->
								</div>
							</div>
							<!--stickers-inner-wrap-->
							<div class="stickers-inner-wrap">
								<div class="elm-sticker type-att">Хит</div>
								<div class="elm-sticker type-att-second">Топ</div>
								<div class="elm-sticker type-yellow">-10%</div>
							</div>
							<!--/stickers-inner-wrap-->
						</div>
						<!-- /slider main -->
						<!-- slider thumbs -->
						<div class="slider-inner-wrap slider-photos-thumbs">
							<div class="slider-wrap swiper">
								<div class="slider swiper-wrapper">
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<div class="elm-photo photo-cover">
											<img src="./img/card01.jpg" alt="">
										</div>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<div class="elm-photo photo-cover">
											<img src="./img/card02.jpg" alt="">
										</div>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<div class="elm-photo photo-cover">
											<img src="./img/card03.jpg" alt="">
										</div>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<div class="elm-photo photo-cover">
											<img src="./img/card01.jpg" alt="">
										</div>
									</div>
									<!--/sl-wrap-->
									<!--sl-wrap-->
									<div class="sl-wrap swiper-slide">
										<div class="elm-photo photo-cover">
											<img src="./img/card02.jpg" alt="">
										</div>
									</div>
									<!--/sl-wrap-->
								</div>
							</div>
							<div class="btn-action-ico ico-arrow ico-arrow-prev button-slider button-slider-photos-thumbs-prev"></div>
							<div class="btn-action-ico ico-arrow ico-arrow-next button-slider button-slider-photos-thumbs-next"></div>
						</div>
						<!-- /slider thumbs -->
					</div>
					<!--/tiles-thumbs-slider-box-->
				</div>
				<!-- /photos -->
				<!--info-inner-wrap-->
				<div class="info-inner-wrap">
					
					<div class="top-inner-wrap">
						<div class="info-wrap type-bg">Код товара: <a href="" class="info-number"><b>24762</b></a></div>
					</div>

					<div class="title-inner-wrap">
						<h1 class="section-title">Букет "Сентиментальность"</h1>
					</div>

					<div class="info-section-wrap">
                        <div class="info-section-price">
                            <div class="elm-price text-att" data-unit=" ₽">4 904</div>
                            <div class="elm-price price-old" data-unit=" ₽">6 130</div>
                        </div>
                    </div>

					<div class="composition-inner-wrap">
						<div class="section-title">Состав</div>
						<div class="section-content">
							<div class="elm-row">
								<div class="row-title"><a href="">Гортензия Колумбия белая</a></div>
								<div class="row-value">2 шт</div>
							</div>
							<div class="elm-row">
								<div class="row-title"><a href="">Роза Кустовая розовая/малиновая</a></div>
								<div class="row-value">5 шт</div>
							</div>
							<div class="elm-row">
								<div class="row-title"><a href="">Хризантема кустовая белая</a></div>
								<div class="row-value">5 шт</div>
							</div>
							<div class="elm-row">
								<div class="row-title"><a href="">Роза розовая/малиновая 40-50см</a></div>
								<div class="row-value">5 шт</div>
							</div>
							<div class="elm-row">
								<div class="row-title"><a href="">Гвоздика розовая/малиновая</a></div>
								<div class="row-value">6 шт</div>
							</div>
							<div class="elm-row">
								<div class="row-title"><a href="">Упаковка</a></div>
								<div class="row-value">1 шт</div>
							</div>
						</div>
					</div>
					
				</div>
				<!--/info-inner-wrap-->
			</div>
			<!--/info-card-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->



<!--popup-outer-box-->
<div class="popup-outer-box popup-main popup-fast-order" id="popup-fast-order">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Быстрый заказ</div>
		</div>
		<div class="popup-content-wrap">
			<!--popup-order-box-->
			<div class="popup-order-box">
				<div class="items-wrap">
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-cart">
							<div class="tile-photo-wrap">
								<div class="tile-photo photo-cover">
									<img src="./img/cat01-01.jpg" alt="">
								</div>
							</div>
							<div class="tile-info-wrap">
								<div class="tile-title-wrap">
									<div class="tile-title"><a href="">Букет "Нежность лилий" (Базовый)</a></div>
								</div>
								<div class="tile-select-wrap">
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect01" id="popupselect01-01" checked="">
										<label for="popupselect01-01">Базовый</label>
									</div>
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect01" id="popupselect01-02">
										<label for="popupselect01-02">+30% цветов</label>
									</div>
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect01" id="popupselect01-03">
										<label for="popupselect01-03">+60% цветов</label>
									</div>
								</div>
								<div class="tile-price-wrap">
									<div class="tile-price-info">За 1 шт. = <div class="tile-price price-att" data-unit=" ₽">4 000</div></div>
								</div>
							</div>
							<div class="tile-side-wrap">
								<div class="tile-counter-wrap">
									<div class="frm-field-counter js-counter">
										<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
										<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
										<input type="text" value="2" class="form-input js-input-counter" data-unit="" data-step="1" data-min="0" data-max="15">
									</div>
								</div>
								<div class="tile-total-wrap">
									<div class="tile-price price-att" data-unit=" ₽">8 000</div>
									<div class="tile-price price-old" data-unit=" ₽">12 000</div>
								</div>
							</div>
							<a href="" class="btn button-att-second tile-button-del btn-action-ico ico-del"></a>
						</div>
					</div>
					<!--/item wrap-->
					<!--item wrap-->
					<div class="item-wrap">
						<div class="item-tile-cart">
							<div class="tile-photo-wrap">
								<div class="tile-photo photo-cover">
									<img src="./img/cat02-01.jpg" alt="">
								</div>
							</div>
							<div class="tile-info-wrap">
								<div class="tile-title-wrap">
									<div class="tile-title"><a href="">Букет "Сладость" (+30%)</a></div>
								</div>
								<div class="tile-select-wrap">
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect02" id="popupselect02-01">
										<label for="popupselect02-01">Базовый</label>
									</div>
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect02" id="popupselect02-02" checked>
										<label for="popupselect02-02">+30% цветов</label>
									</div>
									<div class="frm-select-button type-small">
										<input type="radio" name="popupselect02" id="popupselect02-03">
										<label for="popupselect02-03">+60% цветов</label>
									</div>
								</div>
								<div class="tile-price-wrap">
									<div class="tile-price-info">За 1 шт. = <div class="tile-price price-att" data-unit=" ₽">60 000</div></div>
								</div>
							</div>
							<div class="tile-side-wrap">
								<div class="tile-counter-wrap">
									<div class="frm-field-counter js-counter">
										<button class="js-button-counter-plus btn-action-ico ico-plus button-plus"></button>
										<button class="js-button-counter-minus btn-action-ico ico-minus button-minus"></button>
										<input type="text" value="2" class="form-input js-input-counter" data-unit="" data-step="1" data-min="0" data-max="15">
									</div>
								</div>
								<div class="tile-total-wrap">
									<div class="tile-price price-att" data-unit=" ₽">120 000</div>
									<div class="tile-price price-old" data-unit=" ₽">140 000</div>
								</div>
							</div>
							<a href="" class="btn button-att-second tile-button-del btn-action-ico ico-del"></a>
						</div>
					</div>
					<!--/item wrap-->
				</div>
				<form action="/" class="form-inner-wrap">
					<div class="frm-title-wrap">
						<div class="frm-title">Пожалуйста, ведите номер телефона и мы свяжемся с вами в течение нескольких минут</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="tel" class="form-input" placeholder="+ 7 (___) ___ - __ - __">
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-submit">
							<button type="submit" class="btn">
								<div class="button-title">Оформить заказ</div>
							</button>
						</div>
						<div class="frm-field">
							<div class="frm-select">
								<input type="checkbox" id="popuporder01">
								<label for="popuporder01">Оформляя заказ вы даёте согласие на обработку ваших персональных данных</label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="popuporder02">
								<label for="popuporder02">Согласен с <a href="">условиями использования Сервиса</a>, <a href="">политикой обработки персональных данных</a> и <a href="">правилами возврата</a></label>
							</div>
							<div class="frm-select">
								<input type="checkbox" id="popuporder03">
								<label for="popuporder03">Даю согласие на получение информационных и маркетинговых рассылок (вы в любой момент можете отказаться от получения писем в личном кабинете)</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!--/popup-order-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-main popup-cart-added" id="popup-cart-added">
	<div class="popup-box">
		<div class="popup-content-wrap">
			<div class="popup-cart-added-box">
				<div class="elm-ico">
					<img src="./img/icons/added.svg" alt="">
				</div>
				<div class="popup-added-title">Добавлено в корзину</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->