<!--main-soc-box-->
<div class="main-soc-box cnt-section">
	<div class="inner-wrap">
		<div class="page-subtitle">Подписывайтесь в соц. сетях</div>
		<div class="soc-wrap">
			<a href="" class="btn-action-ico button-soc button-tg">
				<img src="./img/icons/tg-color.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc button-vk">
				<img src="./img/icons/vk-color.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc button-ok">
				<img src="./img/icons/ok-color.svg" alt="">
			</a>
		</div>
	</div>
</div>
<!--/main-soc-box-->